.calendar-modal {
	height: fit-content;
}
.calendar-modal Button {
	color: #feffff;
	border: 1px solid #feffff;
}

@media only screen and (max-width: 600px) {
	.calendar-modal Button {
		color: #17252a;
		border: 1px solid #17252a;
	}
}
