.account-btn {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: fit-content;
	border-radius: 10px;
	padding: 5px;
	width: fit-content;
	right: 5px;
	top: 5px;
	border: 1px solid #17252a;
	background-color: transparent;
	outline: none;
}
.account-btn:hover {
	background-color: #17252a;
	border: none;
}
.account-btn:focus {
	box-shadow: 0px 0px 3px 3px #17252a;
}
.account-btn:active {
	background-color: red;
}

.account-btn:hover .name h3 {
	color: #FEFFFF;
}
.account-btn:hover .aIcon {
	color: #FEFFFF;
}
.aIcon {
	margin: 0px 7px;
	color: #17252a;
}
.name {
	padding-right: 5px;
}

.profile-pic {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
