.eContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
}
.eContainer h2 {
	color: #feffff;
}
.create-event-btn {
	position: absolute;
	right: 0;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding: 10px;
	/*color: #e0dfcc;*/
}
.aToggle {
	padding-left: 0;
	padding-right: 0;
	border-radius: 10px;
	background-color: #17252a;
	color: #feffff;
	border-radius: 10px;
	margin: 2px 0px;
	cursor: pointer;
}
.media-active {
	background-color: #5a7e7c;
	border-radius: 10px;
}
.media-active {
	color: #e0dfcc;
}
.media {
	background-color: #f8f7e8;
}
.media-active h4 {
	color: #feffff;
}

@media only screen and (max-width: 600px) {
	.aToggle {
		border-radius: 0px;
		margin: 0px 0px;
	}
	.media-active {
		border-radius: 0px;
	}
	.eContainer {
		border-radius: 0px;
	}
}
