.eContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
}
.create-event-btn {
	position: absolute;
	right: 0;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding: 10px;
}
